@page "/"

<PageTitle>Home</PageTitle>

<h1>MORONNÄÄS!</h1>

<p>Welcome to your new app.</p>

<NavLink href="/login" class="btn btn-primary">Login</NavLink>

<NavLink href="/settings" class="btn btn-secondary">Settings</NavLink>
